<h1>This is the index</h1>
The ultimate battle! Tilt the result in your favour!
team A vs B, who has more characters at the end?
add character with team, and user - validate both unique
the team with most characters after a period of time wins
(Charcater.where(team: "a").count > Charcater.where(team: "b").count)
